@import '../styles/variable.scss';
.contentBox{
  display: flex;
  margin: 0 auto;
  width: 99%;
  border-radius:0 0 $radiusSize $radiusSize;
  overflow: hidden;
  position: fixed;
  top:64px;
  bottom:5px;
  left:0;
  right:0;
}
.rightContent{
  flex:1;
}