@function Px($px) {
  @return $px / 750 * 10rem;
}

// 边框倒角大小
$radiusSize: 5px;

// 字体大小
$baseSize:14px;
$bigerSize:16px;//0.48
$bigestSize:18px;
$smallSize:12px;
// margin大小
$marginSize: 8px;
// 基本字体色彩
$grayText: #999;
$lightText: #FFF;
$darkText: #333;
// 边框色彩
$lightBd:#dcdee2;
$darkBd:#515a6e;
// 辅助色
$info: #2db7f5;
$warning:#ff9900;
$error: #ed4014;
$success: #19be6b;
//主色
$primary:#2d8cf0;
$lightPrimary:#5cadff;
$darkPrimary:#2b85e4;
// 中性色
$title:#17233d;
$content: #515a6e;
$subColor:#808695;
$disabled:#c5c8ce;
$border:#dcdee2;
$divider:#e8eaec;
$bg:#f8f8f9;

// 分隔线的色彩
$darkDivision:#1B1F21;
$lightDivision:#F5F7F9;
// 黑白主题背景
$darkBg:$title;
$lightBg:#FFF;
