@import '../../styles/mixin.scss';
@import '../../styles/variable.scss';
.header{
  display: flex;
  box-sizing: border-box;
  position: relative;
  z-index: 99;
}
.logo{
 @include hCenter(64px);
  font-size: $bigestSize;
  min-width: 220px;
  width: 20%;
  text-align: center;
}
.logoIcon{
  @include wh(28px);
  margin-right:$marginSize;
}
.rightMenu{
  margin:auto 30px auto auto;
}
.darkLogin {
  margin-left:30px; 
  color:$lightText;
}
.lightLogin {
  margin-left:30px; 
  color:$darkText;
}
.menuItem{
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  &:hover{
    color: $primary;
  }
}